.faqBox {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.faq {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.faqBox img {
    border-radius: 40px;
    width: 100%;
}

.accordion-button[aria-expanded="true"] {
    background-color: #294960;
    color: white;
}

.faqimage {
    min-width: 100px;
}